<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <test verbose="2" preserve-order="true"
          name="HoolovoSelenium">
        <classes>
            <class name="com.FirstTestHolovo.HomePageTests"></class>
            <class name="com.FirstTestHolovo.SignUpPageTests"></class>
        </classes>
    </test>
</suite>